.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}


.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

/*Espaçamento entre as imagens*/
.container__imagem {
    padding: 1em;
}

.lista__menu {
    width: 60vw;
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked ~ .lista__menu {
    display: block;
}

/*Fazer o input da checkbox desaparecer*/
.container__botao {
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../assets/Menu\ aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.lista__menu__titulo, .lista__menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo {
    color: var(--amarelo);
    font-weight: 700;
}

.lista__menu__link {
    text-decoration: none;
    font-weight: 400;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.container__titulo, .opcoes, .container__texto {
    display: none;
}


/*Utiliza max-width quando se faz o design do Computador primeiro, e depois aplica para celular/tablet*/
@media screen and (min-width: 1024px) {
    .container__titulo {
        font-family: var(--fonte-secundaria);
        color: var(--preto);
        font-size: 30px;
        font-weight: 400;
        display: flex;
    }
    
    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em;
    }

    .opcoes__link {
        color: var(--preto);
        text-decoration: none;
    }

    .container__imagem-favoritos {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista__menu__item:hover {
        background: var(--azul-degrade);
    }

    /*Quando passa o mouse nas opções, a fonte fica branca*/
    .lista__menu__item:hover > .lista__menu__link {
        -webkit-text-fill-color: var(--branco);
        
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 4em;
    }
     
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__texto {
        font-size: 20px;
        color: var(--preto);
        display: block;
    }

    /*Empurrar as opções para a esquerda, antes estava tudo centralizado*/
    .opcoes {
        margin-right: auto;
    }
}

